<section class="container">
  <div class="agent">
    <div class="agent-info">
      <h5 class="agent-info-title">Суперагент</h5>
      <span class="agent-info-subtitle">Банк ВТБ(ПАО)</span>
    </div>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
  <div class="managment">
    <mat-icon>work</mat-icon>
    <div class="managment-info">
      <h5 class="managment-info-title">Управление</h5>
      <span class="managment-info-card">Карточка контрагента</span>
      <span class="managment-info-docs">Договоры контрагента</span>
    </div>
  </div>
  <div class="sub-agent">
    <mat-icon>group</mat-icon>
    <div class="sub-agent-info">
      <h5 class="sub-agent-title">Субагенты</h5>
    </div>
  </div>
</section>
